<% if (movie.length !== 0) { %>
    <div class="subtitle is-6">You searched for: <%= searchTerm %></div>
    <div class="subtitle is-6">Results: <%= totalResults %></div>
<% } %>

<div class="columns is-multiline">

    <% for(var i = 0; i < movie.length; i++) { %>

    <div class="column is-3-desktop is-4-tablet is-6-mobile">
        <% if(movie[i].poster_path) { %>
        <img src="http://image.tmdb.org/t/p/w500<%= movie[i].poster_path %> ">
        <% } else { %>
        <img src="http://via.placeholder.com/500x450" class="placeholder-image">
        <% } %>

        <p><%= movie[i].title %> (<%= movie[i].release_date %>)</p>

        <progress class="progress is-warning" value="<%= movie[i].vote_average %>" max="10"></progress>

    </div>

    <% } %>

</div>
